header {
  background-color: rgb(115, 206, 223);
  width: 100%;
  height: 80px;
}
body {
  margin: auto;
}

#logo_main {
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
  margin-left: 8%;
  margin-top: 5px;
  display: inline-block;
}
#heading {
  font-size: 50px;
  margin-top: -8%;
  margin-left: 25%;
  color: #295396;
}

.social {
  float: right;
  margin-top: 1%;
  margin-right: 10%;
}
.socialIcon {
  height: 50px;
  width: 50px;
}
#main {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}
#main > h1 {
  color: #295396;
}

#filter {
  height: 700px;
  width: 25%;
  border: 2px solid white;
  box-shadow:10px 15px 20px #73cedf;
  float: left;
  
}

#content_main {
  width: 70%;
  float: left;
  margin-left: 3%;
}
.content {
  height: 300px;
  width: 100%;
  margin:2%;
  margin-top: 0%;
  margin-left:0%;
  
  box-shadow:10px 15px 20px #73cedf;
  
}
#dropdown > select{
  height:30px;
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.198);
  margin: 0%;
}
#checkbox > label{
cursor: pointer;


}
#checkbox{
  margin-top: 2%;
 }
 #checkbox > h3{
   color:#295396
 }
 
 #costoftwo > h3{
  color:#295396
}
#sort > h3{
  color:#295396
}

.content{
  background-color: white;
}
.imagediv{
  background-color:skyblue;
  height:150px;
  width:20%;
  margin-top:2%;
  margin-left:5%;
  display:inline-block;

}
.infodiv{
  
  height:160px;
  width:70%;
  float:right;
  margin-top:2%;
  margin-bottom: 2%;
  margin-right:1%;
 
}
.h1{
  margin-left: 3%;
  color:#295396
}
.line{
  width:96%;
  height: 1px;
  margin-top: 2%;
  margin-left:2%;
  margin-right:2%;
  border: 1px line gray;;
  background-color: gray;

}
.belowline{
  margin-left : 2%;
  color:#295396
}
 
 

 



