body{
    margin: auto;
}



#search{
    height: 500px;
    width:100%;
    
    background-image: url('/images/foodWallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 500px;
}
#brand{
        display: inline-block;
        margin-left: 5%;
        font-size: 40px;
        color:white;
        font-weight:bold;
        font-family: 'Times New Roman'
}
.social{
    float:right;
    margin-right:5%;
    margin-top:-3%;
    
}
.socialIcon{
    height:50px;
    width:50px;
    padding-right: 15px;
    padding-top: 10px;
   
}
#logo{
    height:35px;
    width:35px;
    background-color: white;
    margin-left:14%;
    margin-top: -2%;
    border-radius:50%;
    font-size: 27px;
    color:red;
    

}
#logo > span{
    margin-top:0%;
    margin-left:0%;
    padding-left:10px;
    position: absolute;
}

 #scooter{
    margin-top: 0%;
    float:left;
    height:200px;
    width:200px;
   animation-name: scooter;
   animation-duration:5s;
   animation-fill-mode:forwards;
   animation-iteration-count: infinite;
}


@keyframes scooter{
     from{transform: translateX(-200px)}
     to{transform:translateX(1920px)}
}

#heading{
    color:white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin:auto;
    margin-top:12%;
    background-color:red;
    width:22%;
    
}

#dropdown{
    height:60px;
    width:40%;
    margin:auto;
    margin-top:2%;
}
select{
        height:60px;
        width:48%;
        font-size:20px;
        font-weight: bold;

}



#QuickSearch{
    
    width:80%;
    margin-left:10%;
    margin-top: 2%;
    


}

#quickHeading{
    color:rgb(10, 6, 223);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:normal;
    display:block;
    line-height:2;
    margin-left: 4%;
}

#quickSubHeading{
    color:gray;
    margin-left: 4%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainTileContainer{
    margin-top: 2%;
    margin-left: -1%;
}

.tileContainer{
    height:180px;
    width:30%;
   
    display: inline-block;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow:10px 15px 20px rgb(236, 169, 178);

}

.tileComponent1{
    width:45%;
    float:left;
}

.tileComponent1 > img{
    width:100%;
    height:180px
}
.tileComponent2{
    width:45%;
    float:left;
    margin-top: 20px;
    margin-left: 20px;
}

.componentHeading{
    font-size:25px;
    font-weight:bold;
    color:#6b9d03;
}
.componentHeading > a{
    text-decoration:underline !important;
    
}


.componentSubHeading{
    color:gray;
    font-size:18px;
}

.componentHeading > a{
    text-decoration: none;
    color:#6b9d03;
}

@media  screen and (max-width:1920px){
    body{
        background-color:#eee2ea
    }
    
}

@media  screen and (max-width:1400px){
    body{
        background-color:#dbe4da
    }
    
}

@media  screen and (max-width:1000px){
    body{
        background-color:#b5b4f0
    }
    
}

@media  screen and (max-width:892px){
    body{
        background-color:#a5eaf3
    }
    .social{
        display: inline-block;
        margin-left:80%;
        margin-top:-13%
        
    }
    .socialIcon{
        height:50px;
        width:50px;
        padding-right: 15px;
        padding-top: 20px;
       
    }
    
}

@media  screen and (max-width:500px){
    body{
        background-color:#ecdfb4
    }
    
}
footer{
    height:30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:white;
    background-color: rgb(240, 42, 68);
}

