
h1 {
    color: #1585b5
}

h2 {
    color: #fb9553
}
.inline-div{
    height:200px;
    width:20%;
    display:inline-block;
    margin:1%;
}
.float-div{
    height:200px;
    width:20%;
    float:left;
    overflow: scroll;
    margin:1%;
}
.mypurple{
    background-color:rgb(207, 154, 207)
}
.mygreen{
    background-color:rgb(180, 238, 193)
}
.myred{
    background-color:rgb(245, 79, 107)
}
.myyellow{
    background-color:rgb(229, 231, 82)
}

